<!doctype html>
<html ng-app="SignIn-Angular">
<head>
    <meta charset="utf-8">
    <title>SignIn-Angular: Email verification</title>
</head>
<body>

<div align="center" ng-controller="EmailVerificationCtrl">
    <table>
        <tr>
            <td>
                <p>Before you can sign in, please check your email to active your user account. If you don't receive an email in a
                few seconds, please check your spam filters.</p>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="verifyEmail()">Resend Verification Email</button>
            </td>
        </tr>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://da189i1jfloii.cloudfront.net/js/kinvey-angular-1.1.4.min.js"></script>
<script src="../scripts/app.js"></script>
<script src="../scripts/email_verification.js"></script>
</body>
</html>