<!doctype html>
<html ng-app="SignIn-Angular">
<head>
<meta charset="utf-8">
<title>SignIn-Angular: Logged in</title>
</head>


<body>
	<p>Logged in page</p>
	<button ng-controller="LogoutController" ng-click="logout()">Logout</button>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://da189i1jfloii.cloudfront.net/js/kinvey-angular-1.1.4.min.js"></script>
	<script src="../scripts/app.js"></script>
	<script src="../scripts/logout.js"></script>
</body>