<div align="center">
    <div style="width: 460px" align="center">
        <div style="display: block" ng-controller="LoginController">
            <form name="loginForm">
                <h4>Login</h4>

                <div class="blockInputLabel">
                    <label style="padding-left: 60px;margin-right: -12px" for="login-email">Email:</label>
                    <input style="margin-left: 30px" id="login-email" type="email" name="email" ng-model="username"
                           placeholder="john@example.com"
                           required/>
                </div>
                <div>
                    <label style="margin-left: 27px;" for="login-password">Password:</label>
                    <input style="margin-left: 18px" id="login-password" type="password" ng-model="password"
                           placeholder="********" required/>
                </div>
            </form>
            <div>
                <button style="margin-right: 30px;margin-top: 15px" ng-click="login()" ng-disabled="loginForm.$invalid">
                    Login
                </button>
            </div>

            <div style="margin-top: 20px;margin-left: 27px">
                <a ng-click="forgetPassword()">Forgot your password?</a>
            </div>

        </div>
        <hr>
        <div ng-controller="SignUpController">
            <h4>Signup</h4>

            <form ng-app="regForm" name="registrationForm">
                <div class="blockInputLabel">
                    <label style="padding-left: 60px;margin-right: -12px;" for="signup-email">Email:</label>
                    <input id="signup-email" type="email" name="email" ng-model="email" placeholder="john@example.com"
                           style=" margin-left: 30px;" required/>
                </div>

                <div>
                    <label style="margin-left: 27px;" for="signup-password">Password:</label>
                    <input id="signup-password" type="password" ng-model="password" name="password"
                           placeholder="********"
                           style="margin-left: 18px;"
                           ng-change="checkPassword()" required/>
                </div>
            </form>

            <div style="margin-right: 13px;margin-top: 30px;">
                <button type="submit" ng-click="signUp()" ng-disabled="registrationForm.$invalid" disabled="disabled">
                    Sign up
                </button>

            </div>

            <div style="display: block">
                <div style="margin-top: 20px" id="facebookButton" ng-click="loginFacebook()"></div>

                <div id="twitterButton" ng-click="loginTwitter()"></div>
            </div>
        </div>
    </div>
</div>