<div align="center" ng-controller="LoginController">

	<div>
		<input type="text" ng-model="username" placeholder="Email" style="position: relative" />
	</div>

	<div>
		<input type="password" ng-model="password" placeholder="Password" style="position: relative" />
	</div>

	<div>
		<button ng-click="login()">Login</button>
	</div>
	<div>
		<button ng-click="loginFacebook()">Login Facebook</button>
	</div>

	<div>
		<button ng-click="loginTwitter()">Login Twitter</button>
	</div>

	<div>
		<button ng-click="forgetPassword()">Forget password?</button>
	</div>

	<div>
		<a>Don`t Have an Account?</a>
	</div>
	<div>
		<button ng-click="signUp()">Sign Up</button>
	</div>

</div>