<div align="center" ng-controller="ResetPasswordController">
    <table>
        <tr>
            <td>
                <p>Enter your username below to email a password reset link to you</p>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" ng-model="email" placeholder="Email" style="position: relative"/>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="resetPassword()">Reset Password</button>
            </td>
        </tr>
    </table>
</div>