<div align="center" ng-controller="ResetPasswordController">
    <div align="center" style="width: 400px;margin: 100px auto;">
    <form name="resetPasswordForm">
        <h2>Forgot your password?</h2>
    <div>
        <p id="resetPassP">Enter the email address you used to sign up, and we will send you a link to reset the password on your account.</p>
    </div>
    <div align="left">
        <p style="text-align: left">Your email:</p>
        <input type="email" name="email" ng-model="email" placeholder="john@example.com"  style="margin-bottom:25px;margin-top: -10px" required/>

    </div>
    <div align="left">
        <button ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">Reset Password</button>
        <a style="font-size: 16px;margin-left: 10px" ng-click="logIn()">Cancel</a>
    </div>
    </form>
    </div>
</div>