<div align="center" ng-controller="SignUpController">
    <form name="registrationForm">
        <div>
            <input type="text" ng-model="firstName" placeholder="First Name" style="position: relative" required/>
        </div>

        <div>
            <input type="text" ng-model="lastName" placeholder="Last Name" style="position: relative" required/>
        </div>

        <div>
            <input type="email" name="email" ng-model="email" placeholder="Email" style="position: relative" required/>

            <p class="help-block error" ng-show="registrationForm.email.$error.email">please enter a valid email</p>
        </div>

        <div>
            <input type="password" ng-model="password" name="password" placeholder="Password" style="position: relative"
                   ng-change="checkPassword()" required/>
        </div>

        <div>
            <input type="password" ng-model="reenterPassword" name="reenterPassword" placeholder="Re-enter password"
                   ng-change="checkPassword()" style="position: relative" required/>
            <span class="text-error"
                  ng-show="registrationForm.reenterPassword.$dirty && registrationForm.reenterPassword.$error.dontMatch">Passwords don't match!</span>
        </div>
    </form>

    <div>
        <button ng-click="signUp()" ng-disabled="registrationForm.$invalid">Create Account</button>
    </div>

</div>