#cancel-label {
    font-size: 16px;
    margin-left: 10px;
}

h2{
    margin: 24px 0 12px;
    font-size: 36px;
    line-height: 48px;
    color: #3f4040;
    display: block;
    font-weight: bold;
}

span.reset-password {
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 2px
}

#email-input {
    margin-bottom:25px;margin-top: -10px
}